@import url("https://fonts.cdnfonts.com/css/graphik");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

::selection {
  background-color: #f9ffd6;
  /* color: #ffffff; */
}

body {
  font-family: "Graphik", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  background-color: #d8eacc;
  transition: all 0.5s ease;
}

header:hover {
  background-color: #fff;
}

#buttonUp {
  position: fixed;
  right: 2vw;
  bottom: 5vh;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 3px solid #202020;
  background-image: url("https://img.icons8.com/?size=512&id=LZv7h8pFXtHA&format=png");
  background-size: cover;
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu,
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.menu a {
  color: #202020;
  padding: 1.2rem;
  border-radius: 30px;
  transition: 0.3s ease;
}

.menu a:hover {
  color: #202020;
  background-color: #d8eacc;
  /* text-decoration: underline; */
}

.image {
  height: 60%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.image img {
  height: 100%;
  width: 100%;
}

.button {
  color: #202020;
  font-size: 0.9rem;
  padding: 1rem 1.8rem;
  border: 2px solid #202020;
  border-radius: 30px;
  margin: 0 15px;
}

.buttons a:last-of-type {
  color: white;
  background-color: #202020;
  /* color: #202020; */
  /* background-color: #ffe01b; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  height: 88vh;
  background-color: #d8eacc;
}

.text {
  height: 80%;
  width: 55%;
  padding: 0 40px;
}

#model {
  font-size: 0.9rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.7rem;
  font-family: "Dela Gothic One";
  margin-bottom: 20px;
}

#text-description,
button {
  margin-bottom: 50px;
}

#text-description {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
}

button {
  font-size: 1rem;
  color: white;
  background-color: #202020;
  padding: 1rem 1.8rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.text-button {
  color: #fff;
  background-color: #202020;
  padding: 1rem 2.2rem;
  border-radius: 30px;
}

.container-image {
  width: 45%;
  object-fit: cover;
  object-position: center;
}

.container-image img {
  height: 100%;
  width: 100%;
  /* margin: 0 0 0 50px; */
  animation: slide 1s ease, fade 1s ease;
  transition: all 0.5s ease;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  /* background-color: #98b485; */
  padding: 0 20vw;
}

.description h2 {
  font-size: 2.5rem;
  font-family: "Dela Gothic One";
  margin-bottom: 20px;
}

#color {
  color: #5a6453;
}

.description > p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
}

.container-box {
  margin-bottom: 50px;
}

.container-description {
  text-align: center;
}

.container-description > p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 25px;
}
.container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box {
  height: 400px;
  width: 19vw;
  border: 2px solid #202020;
  padding: 2rem;
}

.container-stars {
  height: 5vh;
}

.container-stars img {
  height: 60%;
  width: auto;
}

.container-box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container-box-text h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 300;
}

.container-opinion > a {
  color: #202020;
  font-size: 0.9rem;
  margin-bottom: 20px;
  font-weight: 300;
  text-decoration: underline;
}

.container-opinion {
  /* margin-bottom: 25px; */
}

.name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.company {
  font-size: 1rem;
  font-weight: 300;
}

.test {
  height: 2500px;
  transform: translate(0, -100px);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  /* border-top: 200px solid #bdd1af; */
  border-top: 30vh solid #d8eacc;
  border-right: 99vw solid transparent;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: #d8eacc;
}

@keyframes slide {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 15px;
  margin-right: 20px;
}

::-webkit-scrollbar-track {
  /* background-color: #b4db9a; */
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background-color: #202020;
  background-clip: content-box;
}